*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

h2{
    opacity: 0.6;
    margin-bottom: 5px;
}
#time{
    font-size: 60px;
}
#name{
    font-size: 35px;
}